.app {
  display: grid;
  grid-template-columns: 10% 20% 20% 20% 20% 10%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.aceeditor {
	grid-row-start:3;
	grid-column-start: 2; 
}

.task {
	display: flex;
	flex-direction: row;
  	grid-row-start: 2; 
}
