/* DETTE ER TIL VIDEO */

.videoPage {
  display: flex;
  flex-direction: column;
  padding: 5em;
}

.videoListItem {
  display: flex;
  flex-direction: row;
  background-color: orange;
  width: 10px;
  height: 10px;
}

.description {
	font-size: 10px;
}

.videoContainer {
	position:relative;
	width: 640px;
	height: 360px;


}

