/* DETTE ER TIL VIDEO */
.appVideo {
  display: flex;
  flex-direction: row;
  padding-top: 5%;
  padding-left: 5%;
}
.videoPage {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  width: 650px;
}

.videoList {
  display: flex;
  flex-direction: row;
  width: 10px;
  height: 10px;
}

.description {
  font-size: 10px;
}
.seachBarButton {
  margin-left: 1%;
}
.videoContainer {
  position: relative;
  width: 640px;
  height: 360px;
}

.videoListItem {
  padding: 10px;
}
